* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

h1 {
   
   font-size:40px;
   font-family: arial;

}
.error {
	color: red;
	padding-left: 20px;
}

.success {
	color: green;
}
p {
	font-size: 25px;
	font-family: arial;
	padding-left: 20px;

}
body{
	background-image: url("background.png");
	/*background-image: url("bg.jpg");*/
	background-size: 100%;
	
	

}
a {
	color:black;
	

}
.header {

	padding:  0;
	margin:  0;
	width: 100%;
	height: 150px;
	display: block;
	background-color: #00bcd452;
	
}

.logo {
	height: 100%;
	display: table;
	float: left;

}
.logo h1 {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 50px;
}
.message {
		height: 100%;
	display: table;
	float: left;
}
.message p {
		height: 50%;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 50px;
}
.login {
		height: 100%;
	display: table-cell;
	vertical-align: auto;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 10px;
	float: left ;
	padding-top: 65px;
}
.register {
		height: 100%;
	display: table-cell;
	vertical-align: left;

	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 10px;
	float: left;
	padding-top: 65px;
}

.search {
	height: 100%;
	display: table-cell;
	vertical-align: auto;
	padding-left: 20px;
	padding-right: 50px;
	padding-top: 65px;
	
	float: right ;
}
.loginScheme {
	padding:20px;
	padding-top: 10px;
	
}
.registerScheme {
	padding:20px;
	padding-top: 10px;
	
}
.logoutButton {
	display: table;
	height: 100%;
		padding-left: 20px;
	padding-right: 50px;
	padding-top: 65px;
	vertical-align: center;
	float: left ;
}

.screenMessage {
	padding-bottom: 30px;
	padding-top: 30px;
	font-size: 30px;
}
.mustLogin{
	padding-top: 30px;
}